page-profile {


        .profile-picture-container {
            background-color: white;
        }

        .profile-picture {
            border: 3px solid white;
            margin-top: -50px;
            max-height: 125px;
            max-width: 125px;
        }

}
