<!--
  Generated template for the LongdoMapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header persistent="true">
  <ion-navbar color="primary">
    <ion-title>ค้นหาร้านอาหารใกล้คุณ</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar mode="ios" color="primary" style="top:-1px">
    <ion-searchbar
    [(ngModel)]="searchInput"
    (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons right>
      <button ion-button icon-end icon-only (click)="gotoAdd()">
        
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content persistent="true">



      <div style="height:50%;position: sticky;top: 0;left: 0;right: 0;z-index:9999;" #map>
      </div>
    <div>
      <ion-list>

        <ion-item *ngFor="let item of page;let i = index" (click)="selectBranch(item.res_lat,item.res_long,i)">
          <ion-thumbnail item-start>
            <img src="{{item.photo}}">
          </ion-thumbnail>
          <h2>{{item.res_name}} </h2>      
    
          <p>ที่อยู่ : {{item.google_address}}</p>
          <p>อยู่ห่างจากคุณ : {{item.distance|number}} กม.</p>
          <button ion-button item-end (click)="call(item.tel)" color="green" *ngIf="!item.is_tel">โทร</button>
          <button ion-button item-end (click)="call(item.tel)" *ngIf="item.is_tel" >โทรแล้ว</button>
        </ion-item>
    
      </ion-list>
        
  <ion-infinite-scroll  *ngIf="hide_loading==false" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content      loadingSpinner="ios"
    loadingText="กำลังโหลด..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
    </div>


    <ion-fab right top>
      <button ion-fab color="primary" (click)="reInitLocation()"><ion-icon name="ios-ionic-outline" ></ion-icon></button>
    </ion-fab>


</ion-content>

